{% trans_default_domain 'user' %}
{% extends '@HTUser/layout.html.twig' %}
{% block content %}
	{{ form_start(form, { 'action': path('user_change_password'), 'attr': { 'class': 'user_change_password' } }) }}
	{{ form_widget(form) }}
	<div>
		<button type="submit" class="btn btn-primary">{{ 'Change password submit'|trans }}</button>
	</div>
	{{ form_end(form) }}
{% endblock %}