{% trans_default_domain 'user' %}
{% extends '@User/layout.html.twig' %}
{% block content %}
	<div class="user_profile_edit">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<div>
			<button type="submit" class="btn btn-primary">{{ 'Profile edit submit'|trans }}</button>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}